findNodes,graph.module.cli.FindCycNodeCommand
findEdges,graph.module.cli.OntologyEdgeCommand
query,graph.module.cli.QueryCommand
query*,graph.module.cli.QuickQueryCommand
extract,graph.core.cli.ExtractCommand
dagtotext,graph.module.cli.NLPCommand
justify,graph.module.cli.JustifyCommand
removeall,graph.core.cli.RemoveCommand
randomNode,graph.core.cli.RandomCycNodeCommand
randomEdge,graph.core.cli.RandomCycEdgeCommand
depthNodes,graph.module.cli.DepthCommand
microtheory,graph.module.cli.MicrotheoryCommand