findNodes,graph.module.cli.FindCycNodeCommand
findEdges,graph.module.cli.OntologyEdgeCommand
query,graph.module.cli.QueryCommand
query*,graph.module.cli.QuickQueryCommand
dagtotext,graph.module.cli.NLPCommand
justify,graph.module.cli.JustifyCommand
depthNodes,graph.module.cli.DepthCommand
microtheory,graph.module.cli.MicrotheoryCommand